{{template "header"}}

<head>

<body>
<div class="container" style="width: 500px;">
    <form class="form-horizontal" method="post" action="/login">
        <div class="form-group">
            <label class="col-lg-4 control-label">请输入管理员账号：</label>
            <div class="col-lg-6">
                <input class="form-control" name="uname" placeholder="Account">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4 control-label">请输入管理员密码：</label>
            <div class="col-lg-6">
                <input class="form-control" name="pwd" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <a href="/login">
                    <button type="submit" class="btn btn-default">登录</button>
                </a>
                <button class="btn btn-default">返回</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>